{{nav-bar route="Contact"}}

<div class="content">
	<h2>I'm currently seeking an internship for the summer of 2017</h2>
	<p>I am looking to get some hands on experience as a developer before starting
my Junior year at Georgia Tech. I have knowledge of web, a strong foundation in
Statistics, and a passion for programming that can't be beat.</p>
	<p>If you wish to reach out to me with a job opportunity, an idea for a project
or even just a cool article click the button below!</p>
	<a href="mailto:kenneth.hyman@gmail.com?Subject=I%20was%20on%20your%20website" class="button">Contanct Me</a>
</div>
