{{nav-bar route="Kenneth"}}
<p>I am a programmer with a focus in web technologies. I have been programming
for nearly 6 years with a focus in web programming although I also have experience working in
everything from  game development to information technology</p>

<p>Although I see my next step as a developer guiding me to data analytics, I
hope to eventually have my own startup</p><br>


<span>
  <p>Most good programmers do programming not because they expect to get paid
  or get adulation from the public, but because it is fun to program</p>
  <br><br>
  <h2><i>-Linus Torvald</i></h2>
</span>
